.documentation{
    font-size: 1em;;
}

.documentation-content {
    margin: auto;
    width: 75%;
    clear: both;
    position: relative;
    
    padding-bottom: 1.5em;
}

.documentation-content p{
    font-size: 1.5em;
}

.documentation-content a{
    text-decoration: underline;
    font-size: 1.1em;
}


.documentation .footer{
    font-size: 1em;
}

.documentation-content li{
    font-size: 1.2em;
    padding:.4em;
}

.documentation-content li a{
    text-decoration: none;
}

.documentation-content li a:hover{
    text-decoration: underline;
}

.documentation-content .command-item{

    padding:.5em;

    border-radius: 2px;
}

.documentation-content .command-item h3{
    color:#666;

    border-bottom:solid 1px #666;

    display:inline-block;
}

.documentation-content .command-item p{
    font-size: 1em;
}


.documentation-content .command-item h4{
    display:inline-block;

    margin:0;
}

.documentation-content .command-item li{
    font-size: 1em;
}